doctype html
html
  head
    title Welcome to Ordr
    link(rel='stylesheet', href='/app.css')
  body
    block content
    script(type="text/javascript", src='/vendor.js')
    script(type="text/javascript", src='/app.js')

